/* font-family: 'Roboto', sans-serif; */

*{
	box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    background-color: red;
    font-weight: 700;
    color: #fff;
    font-weight: 700;
    font-size: 37px;
    position: fixed;
    top: 0;
    z-index: 3;
}


    /* Body */
.container{
    margin: 139px auto 0px auto;
    width: 80vw;
    height: auto;
}

.create-quizz{
    width: 100%;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.user-quizz{
    display: flex;
    text-align: center;
    line-height: 20px;
    color: #B9B9B9;
    margin-bottom: 20px;
}

.create-quizz button{
    width: 136px;
    height: 40px;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 400;
    background-color: #fff;
    color: #ec362d;
    outline: none;
}

.container h2{
    margin: 70px 0 10px 0;
    font-weight: 700;
    font-size: 20px;
}

.container .quizzes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container .quizzes .e-quizzes {
    width: calc(33% - 10px);
    height: 180px;
    background-color: #ec362d;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65%, #000 100%); 
    cursor: pointer;
}

.container .quizzes .e-quizzes p {
    margin: 10px;
    font-size: 19px;
    color: #FFF;
}

.container .quizzes .e-quizzes img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px; 
    z-index: -1;
    object-fit: cover;
}

.container .quizzes .e-quizzes:last-child {
    margin-right: 0;
}

    /* New Quizz */
.container-new-quiz {
    width: 100vw;
    height: calc(100vh - 69px);
    margin-top: 69px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-new-quiz h2 {
    font-weight: 700;
    font-size: 23px;
    margin: 70px 0 30px 0;
}

.container-new-quiz .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.05);
}

.container-new-quiz .inputs input {
    width: 700px;
    height: 46px;
    margin-bottom: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 19px;
    outline: none;
}

.container-new-quiz .inputs input::placeholder {
    font-style: italic;
    color: #BABABA;
    font-weight: 400;
}

.container-new-quiz .inputs input::-webkit-input-placeholder{
    font-style: italic;
    color: #BABABA;
    font-weight: 400;
}

.container-new-quiz .inputs input:-moz-placeholder{
    font-style: italic;
    color: #BABABA;
    font-weight: 400;
}

.container-new-quiz .inputs input::-moz-placeholder{
    font-style: italic;
    color: #BABABA;
    font-weight: 400;
}

.container-new-quiz .inputs input:last-child {
    margin-bottom: 0 ;
}

.container-new-quiz button,
.container-create-questions button,
.container-levels button{
    font-size: 21px;
    color: #FFF5F4;
    font-weight: 400;
    width: 324px;
    height: 54px;
    border-radius: 15px;
    border: none;
    background: #EC362D;
    margin-top: 60px;
    cursor: pointer;
    outline: none;
}

    /* Create questions screen */

.container-create-questions {
    width: 100vw;
    height: auto;
    margin-top: 69px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-create-questions h1 {
    margin: 63px 0 36px 0;
    font-weight: 700;
    font-size: 23px;
}

.container-create-questions .question {
    background-color: #FFF;
    width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.container-create-questions .question h2{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}

.container-create-questions .question h2:first-child {
    margin-top: 0;
}

.container-create-questions input {
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin: 5px 0;
    outline: none;
    padding-left: 20px;
}

.container-create-questions .question div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.container-create-questions input::placeholder {
    color: #BABABA;
    font-style: italic;
}

.container-create-questions button {
    margin-bottom: 30px;
}

    /* Level Screen */

.container-levels {
    background-color: #FAFAFA;
    width: 100vw;
    height: auto;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-levels h1 {
    font-size: 23px;
    font-weight: 700;
    margin: 63px 0 43px 0;
}

.container-levels .level {
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 560px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

.container-levels h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}

.container-levels input {
    height: 46px;
    padding-left: 20px;
    margin-bottom: 14px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    outline: none;
}

.container-levels input:last-child {
    margin-bottom: 0;
}

.container-levels input::placeholder {
    font-style: italic;
    color: #BABABA ;
}






    /* Hidden Feature */
.hidden{
    display: none;
}
















/* Mobile */

@media (max-width: 1100px){
    .container{
        width: 90vw;
    }
    .container .quizzes .e-quizzes{
        width: 100%;
    }
    .container h2{
        margin: 30px 0 10px 0;
    }
    .container-new-quiz .inputs{
        width: 100%;
    }
    .container-new-quiz{
        margin-top: 30px
    }
    .container-new-quiz .inputs input{
        width: 100%;
    }
    .container-new-quiz button{
        margin-top: 30px;
    }
    .container-create-questions .question{
        width: 100%;
    }
}